header{
  width: 980px;
  height: 140px;
  background-color: #0D7962;
  border:2px; dashed: blue;
  margin:auto;
  margin-bottom: 10px;
  color: #fff;
}
main{
  width: 980px;
  height: 450px;
  border:2px; dashed: red;
  margin:auto;
  margin-bottom: 10px;
  color: #fff;
}
aside{
  width: 270px;
  height: 450px;
  background-color: #0D7962;
  border:2px; dashed: red;
  float: left;
  margin: right 10px;
  color: #fff;
}
section{
  width: 690px;
  height: 450px;
  background-color: #0D7962;
  border:2px; dashed: black;
  float: right;
  color: #fff;
}

footer{
  width: 980px;
  height: 70px;
  background-color: #0D7962;
  border:2px; dashed: purple;
  margin:auto;
  color: #fff;
}